@media screen and (max-width: 768px) {
    section#storemain div#products {
        width: 100%;
        padding-top: 0;
    }
    
    section#storemain div#products .storeitem {
        display: inline-block;
        width: calc(100% - 10px);
        height: 300px
    }

    section#storemain div#products .storeitem div#image .trapezoid {
        display: none;
    }
    
}