@media screen and (max-width: 768px) {
    section#storemain div#products {
        width: 100%;
        padding-top: 0;
    }
    
    section#storemain div#products .storeitem {
        display: inline-block;
        width: calc(100% - 10px);
        height: 300px
    }

    section#storemain div#products .storeitem div#image .trapezoid {
        display: none;
    }
    
    section#storemain.product {
        height: calc(100% - 100px);
    }

    section#imagecontainer {
        width: 100%;
        float: right;
    }
    section#detailscontainer {
        position: relative;
        left: 0;
        width: 100%;
    }
    
    section#storemain div.carousel-inner {
        height: 400px;
    }
    
    section#storemain.product p,section#storemain.product h1 {
        max-height: fit-content;
    }
}