@media screen and (max-width: 992px) {
    nav div#imgcontainer {
        display: none;
    }

    section#storemain {
        width: calc(100% - 10px);
        max-width: calc(100%);
        min-width: calc(100%);
        margin-top: 10px;
    }

    section#searchbar {
        width: 400px;
        margin-top: 10px;
    }

    section#searchbar input[type=text] {
        width: 350px;
    }

    section#storemain div#products {
        width: 735px;
    }

    section#storemain div#profile {
        width: 735px;
    }

    section#storemain div#basket {
        width: 735px;
    }
    
    /**/
    section#imagecontainer {
        width: 50%;
    }
    
    section#storemain.product {
        height: 500px;
    }
    
    section#storemain div.carousel-inner {
        height: 500px;
    }
}
